img {
    border: 0;
    width: 100%;
}
/**/
#aboutContainer {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

/*This section is for about page and index (home) page*/
.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}
.nav-wrapper{
margin-top:5px;
background-color: #423d77 !important;
padding-right:100px;

}


#home-background {
background: url("../images/me 2.png");
background-size: contain;
background-size: cover;
background-repeat: no-repeat; 
background-position: 100% 100%; 
}


#map-heading{

text-align: center;

}

#meToo{

    text-align:center;
    margin-bottom:-20px;
    
}

#map-img{

width:100%;
height:100%;
margin-right:100px;
display: block;
margin: auto;
/*box-shadow: 10px 10px 5px grey;  */

}

#about{
float:right;
margin-top:550px;
margin-right:75px;
width:200px;
font-size:30px;
background-color: rgba(0, 0, 0, 0);
 
}

#enter{
float:right;
margin-top:550px;
margin-left:150px;
width:200px;
font-size:30px;
background-color: rgba(0, 0, 0, 0);
}

#tarana{

    width:100%;
    float:right;
}

#pgGreeting{

background-color:#423d77;
border:1px solid #ddd;
padding:20px;
color:white;
text-align:center;


}

#resources{
border:1px solid #ddd;
background-color:#dbdde0;
font-weight:bold;


}

#map{
text-align:center;

}

.postTitles{
padding:20px;
background-color:#f9f9f9;
border:1px solid #ddd;
text-align:center;
font-weight:bold;
font-size:20px;

}

.posts{

padding:20px;
background-color:#f9f9f9;
border:1px solid #ddd;

}

#titlePost{

font-size:20px;
text-align:center;

}